win88/dbproxy/config - 副本.json
win88/gamesrv/config - 副本.json
win88/gatesrv/config - 副本.json
win88/mgrsrv/config - 副本.json
win88/minigame/config - 副本.json
win88/ranksrv/config - 副本.json
win88/worldsrv/config - 副本.json
.idea
